<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xmlns:aop="http://www.springframework.org/schema/aop"
        xmlns:tx="http://www.springframework.org/schema/tx"
        xmlns:mvc="http://www.springframework.org/schema/mvc"
	   	xmlns:websocket="http://www.springframework.org/schema/websocket"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.2.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-4.2.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
	   	http://www.springframework.org/schema/websocket
		http://www.springframework.org/schema/websocket/spring-websocket.xsd">
        <!-- 1.扫描controller包 -->
        <context:component-scan base-package="com.bluefireplatform.controller"></context:component-scan>
	<context:component-scan base-package="com.bluefireplatform.websocket"></context:component-scan>
        <!-- 2.内部资源视图解析器，suffix为空，方便跟参数url？id=xxx -->
        <bean id="jspViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        	<property name="prefix" value="/WEB-INF/pages/"></property>
        	<property name="suffix" value=""></property>
         </bean>
         <!-- 3.注解驱动 -->
         <mvc:annotation-driven></mvc:annotation-driven>
         <!-- 4.拦截器配置 -->
    <!--      <mvc:interceptors>
         	<mvc:interceptor>
         		<mvc:mapping path="/**"/>
         		<bean class="com.bluefireplatform.interceptor"></bean>
         	</mvc:interceptor>
         </mvc:interceptors> -->
   <!--       5.文件上传解析器，最大能上传10MB文件（1024*1024*10） -->
         <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
         	<property name="maxUploadSize" value="10485760"></property>
         </bean>
     <context:component-scan base-package="com.bluefireplatform.service.*"></context:component-scan>
     <mvc:default-servlet-handler />
     	<!--完成请求和注解POJO的映射,json格式的返回值 -->
	<bean id="mappingJacksonHttpMessageConverter"
		class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
		<property name="supportedMediaTypes">
			<list>
				<value>application/json;charset=UTF-8</value>
			</list>
		</property>
	</bean>
	<!-- 静态资源请求使用default的servlet处理 -->
	
	<mvc:default-servlet-handler />
        <import resource="beans.xml"/>
 </beans>